include includes/head

.container
    .row
        .container
            h1 This route is under construction...
            h2 Come back at a later time
            p Menwhile...
            a.button.fit(href='/') Return
